<h2>Danh sách truyện</h2>

@if (loading) {
  <p class="loading"> Đang tải dữ liệu...</p>
}

@if (error) {
  <p class="error">{{ error }}</p>
}

@if (!loading && stories.length === 0) {
  <p class="empty"> Không có truyện nào</p>
}

@if (stories.length > 0) {

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Tên Truyện</th>
      <th>Tác Giả</th>
      <th>Lượt xem</th>
      <th>Hành động</th>
    </tr>

    @for (story of stories; track story.id) {
      <tr>
        <td>{{ story.id }}</td>
        <td>{{ story.title }}</td>
        <td>{{ story.author }}</td>
        <td>{{ story.view }}</td>
        <td class="action">
          
          <button 
            class="btn-edit"
            (click)="EditStory(story.id)">
             Sửa
          </button>

          <button 
            class="btn-delete"
            (click)="deleteStory(story.id)">
             Xóa
          </button>

        </td>
      </tr>
    }
  </table>
}